.search-product {
  position: sticky;
  top: 137;
  background-color: var(--navbar-backround-color);
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search-product input {
  width: 40%;
  padding: 16px;
  outline: none;
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 2px solid var(--green-primary-color);
  border-top: none;
  border-bottom: none;
  transition: calc(0.5s);
}

.search-product .search-btn {
  padding: 15px;
  outline: none;
  border: none;
  border-top-right-radius: 0px;
  background-color: #36590f;
  color: white;
  cursor: pointer;
  transition: calc(0.5s);
}
