.Cart {
  position: fixed;
  top: 142px;
  right: 0;
  width: 100%;
  max-width: 600px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  padding: 10px;
}
.cart .cart-item {
  display: flex;
  align-items: center;
}
.item-details {
  display: flex;
  align-items: center;
}
