.menu-category {
  background-color: #4cb50b;
  margin-bottom: 1px;
  position: sticky;
  top: 75;
}
.menu-content {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
.menu-icon {
  cursor: pointer;
  font-size: larger;
}
.menu-icon:hover {
  transition: none;
  border: 1px solid #72eb3a;
  color: #ffffff;
}

.menu-item {
  display: flex;
  align-items: center;
}
.menu-item a.active {
  color: var(--black-tertiary-color);
  transition: none;
  border-bottom: 1px solid var(--green-primary-color);
}
.menu-item a {
  color: var(--white-secondary-color);
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  margin-left: 10px;
}
.menu-item a:hover {
  color: var(--dark-green-color);
  transition: none;
}
