.logo {
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 0 0 10px;
  padding: 0;
  font-weight: 700;
  font-size: 3rem;
  color: #ffffff;
  text-transform: uppercase;
  /* background: #28400c; */
}

li,
a,
h2,
button {
  text-decoration: none;
  list-style: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.header {
  width: 100%;
  background-color: rgb(224, 224, 224);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.nav-bar {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 4rem;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
  background-color: #81f450;
  z-index: 1;
}
.nav-container {
  display: flex;
}
.nav-container .item {
  padding: 10px;
  margin: 0 25px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black-tertiary-color);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.nav-container .item:hover {
  color: var(--white-secondary-color);
  transition: none;
}
.nav-icon {
  cursor: pointer;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.nav-icon #shopping-cart {
  font-size: 1.5rem;
  color: #000000;
  border-radius: 3px;
  padding: 1px;
  background-color: #ffffff;
}
.nav-icon input[type="text"] {
  color: var(--secondary-color);
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 1rem;
}
.nav-icon .count-cart {
  position: relative;
  top: -5px;
  right: -5px;
  background-color: yellow;
  color: red;
  border-radius: 3px;
  padding: 3px;
  font-size: 1.2rem;
  font-weight: 700;
}
.btn-search {
  font-size: 1.5rem;
  color: var(--white-secondary-color);
  background-color: var(--middle-green-color);
  border-radius: 3px;
  padding: 1px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  width: 70%;
}
.search-input {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 1rem;
}
.search-input:hover {
  border: 1px solid greenyellow;
  outline: none;
}
.search-input:focus {
  border: 1px solid var(--white-secondary-color);
  transition: 0.3s;
  outline: none;
}

.search-btn {
  font-size: 1.5rem;
  color: var(--white-secondary-color);
  background-color: var(--middle-green-color);
  border: none;
  cursor: pointer;
  margin-right: 6px;
  padding: 0 10px;
}
