.Related {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    width: 80%;
    flex-wrap: wrap;
    background-color: var(--navbar-backround-color);
  }
  .Related .related-container img {
    width: 270px;
    height: 200px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition: calc(0.5s);
  }
  .Related .related-container img:hover {
    transform: scale(1);
    transition: calc(0.5s);
    padding: 2px;
    display: flex;
    border: 1px solid rgb(181, 175, 175);
    border-radius: 18;
    background-color: var(--green-primary-color);
    color: white;
    cursor: pointer;
    /* blur filter  */
    filter: blur(0.1px);
  }
  .wrape-content {
    background-color: #ebebeb;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
  }