/* Sign Up form  */

.signup-content {
  background-color: #fff;
  width: 30%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.signup-content input {
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
}
.signup-content h1 {
  color: #333;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}
.signup-box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accept-policy {
  display: flex;
  justify-content: start;
  margin: 10 auto;
}
.accept-policy label {
  font-size: 12px;
  color: #333;
  font-weight: 400;
  letter-spacing: 1px;

  margin-left: 5px;
  margin-right: 5px;
}
.signup-box label {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 3px;
}
.submit-signup {
  background-color: #ffcc00;
  border: none;
  padding: 15px;
  cursor: pointer;
  color: #000000;
  font-weight: 600;
  width: 100%;
  border-radius: 25px;
}
.submit-signup:hover {
  background-color: #6b8334;
  transition: 0.3s;
  color: #ffffff;
}
.name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.name input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
}
.name label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

/* switch button sign up or sign in  */

/* switch button sign up or sign in  end */

.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 5 auto;
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
  background-color: #e5e5e5;
  color: #000000;
}
.signup-btn:hover {
  background-color: #bdbdbd;
  color: #302e2e;
  transition: 0.3s;
}
.new-account {
  display: block;
  margin: 5px;
}
.new-account a {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}
.new-account p {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}

.bx-arrow-back {
  color: #005c9e;
  font-weight: 400;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}
.bx-arrow-back:hover {
  color: #15b5f4;
  transition: 0.3s;
}
