.Wrapper{
    width: 100%;
}
.Wrapper > img{
    width: 100%;
}
.Title{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.Title > h2{
    color: rgb(53, 53, 53);
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;

}
.ArrowDownIcon{
    color: rgb(64, 64, 64);
}

.features{
    border: 1px solid rgb(224, 223, 223);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    box-shadow: none;
    .feature{
        width: 420px;
        
        
    }
}