:root {
  --menu-green-color: #4cb50b;
  --white-color: #ffff;
}

.campagn {
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  cursor: pointer;
}
.feature {
  display: flex;
  flex-direction: column;
  background-color: var(--menu-green-color);
  width: 20%;
}
.feature-list {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
  color: var(--white-color);
  cursor: pointer;
}
.feature-list:hover {
  background-color: #63e511;
  color: var(--white-color);
  border-left: 5px solid #ebff34;
}
.location {
  display: flex;
  background-color:green;
  color: var(--white-secondary-color);
  width: 90%;
  margin: 0.5px auto;
  border-radius: 10px;
  border: 1px solid #ffffff;
}
.location-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-location .locate-imag img {
  margin: 10px;
  width: 50%;
  height: 50%;
  border-radius: 10px;
}

.banner {
  position: relative;
  display: flex;
  width: 80%;
  background-color: #f5f5f5;
}
.banner img {
  width: 100%;
}
.banner-button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-content: end;
  bottom: 0;
}
