nav {
  background-color: #fff;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.wrap-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}
ul {
  display: flex;
  list-style: none;
  text-align: center;
}
ul :link {
  padding: 0 20px;
  color: #fffefe;
  transition: all 0.3s ease;
  list-style: none;
  text-decoration: none;
}
.form {
  display: flex;
  list-style: none;
  text-align: center;
  gap: 20px;
  color: #fff;
}
.form > :link {
  padding: 10px 10px;
  border-radius: 20px;
  /* background-color: #1dac4d; */
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}
.form > link:hover {
  color: #95ff00;
}
