:root {
  --green-primary-color: #72eb3a;
  --white-secondary-color: #ffffff;
  --black-tertiary-color: #000000;
  --navbar-backround-color: #f5f5f5;
  --yellow-text-color: #ffd900;
  --menu-item-color: #848484;
  --dark-green-color: #365a08;
  --middle-green-color: #5d9d0b;
}



