* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS";
  background-color: #f5f5f5;
}
:root {
  --green-primary-color: rgb(154, 213, 2);
  --white-secondary-color: #ffffff;
  --black-tertiary-color: #000000;
  --navbar-backround-color: #22be02;
  --yellow-text-color: #ffd900;
  --menu-item-color: #848484;
  --dark-green-color: #28400c;
  --middle-green-color: #305704;
  --menu-green-color: #4cb50b;
}
