* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Trebuchet MS";
  background-color: #f5f5f5;
}
:root {
  --green-primary-color: rgb(154, 213, 2);
  --white-secondary-color: #ffffff;
  --black-tertiary-color: #000000;
  --navbar-backround-color: #f5f5f5;
  --yellow-text-color: #ffd900;
  --menu-item-color: #848484;
  --dark-green-color: #28400c;
  --middle-green-color:#305704;

}


li,
a,
h2,
button {
  text-decoration: none;
  list-style: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.logo {
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 0 0 10px;
  padding: 0;
  font-weight: 700;
  font-size: 4rem;
  color: var(--green-primary-color);
  text-transform: uppercase;
  /* background: #28400c; */
}
.header {
  width: 100%;
  background-color: rgb(224, 224, 224);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.nav-bar {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: var(--navbar-backround-color);
  padding:30px;
}
.nav-container {
  display: flex;
}
.nav-container .item{
  padding: 10px;
  margin: 0 25px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--black-tertiary-color);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
.nav-container .item:hover {
  color: var(--green-primary-color);
  transition: none;
}
.nav-icon {
  cursor: pointer;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.nav-icon #shopping-cart {
  font-size: 2rem;
  color: var(--white-secondary-color);
  background-color: var(--green-primary-color);
  border-radius: 3px;
  padding: 2px;
}
.nav-icon input[type="text"] {
  color: var(--secondary-color);
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 1rem;
}
.btn-search {
  font-size: 2rem;
  color: var(--white-secondary-color);
  background-color: var(--middle-green-color);
  border-radius: 3px;
  padding: 2px;
}

/* login  */
.sign-account{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px;

  
}
.sign-account:hover{
  border: 1px solid gray;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0 0 5px var(--green-primary-color);

}
.log-to-signin{
  display: flex;

}
.log-to-signin p{
  color: #333;
  font-weight: 700;
  letter-spacing: 1px;
  font: 1.2em sans-serif;
  
}
.banner-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  margin: 0 auto;
}
.banner img{
  width: 100%;

}




