* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Trebuchet MS";
  background-color: #f5f5f5;
}
:root {
  --green-primary-color: rgb(154, 213, 2);
  --white-secondary-color: #ffffff;
  --black-tertiary-color: #000000;
  --navbar-backround-color: #f5f5f5;
  --yellow-text-color: #ffd900;
  --menu-item-color: #848484;
  --dark-green-color: #28400c;
  --middle-green-color: #305704;
  --menu-green-color: #4cb50b;
}


/* login  */
.sign-account {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px;
}
.sign-account:hover {
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0 0 15px var(--white-secondary-color);
}
.log-to-signin {
  display: flex;
}
.log-to-signin p {
  color: #333;
  font-weight: 700;
  letter-spacing: 1px;
  font: 1.2em sans-serif;
}

.container {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  /* display: none; */
}
.login-content {
  background-color: #fff;
  width: 30%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.login-box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.submit-login {
  background-color: #ffcc00;
  border: none;
  padding: 15px;
  cursor: pointer;
  color: #000000;
  font-weight: 600;
  width: 100%;
  border-radius: 25px;
}
.submit-login:hover {
  background-color: #6b8334;
  transition: 0.3s;
  color: #ffffff;
}
.forget a {
  display: inline-flex;
  text-decoration: underline;
  color: #15b5f4;
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.forget a:hover {
  color: #333;
  transition: 0.3s;
}
.google {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;

  border: none;
  padding: 15px;
  cursor: pointer;
  color: #333;
  font-weight: 600;
}
.google img {
  width: 30px;
  height: 15px;
}

.switch-btn-signin button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #333;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.login-content input {
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
}
input:focus {
  border: 1px solid #d4d4d4;
  transition: 0.3s;
  box-shadow: 0 0 5px rgba(0, 237, 237, 0.2);
}

/* Sign Up form  */

.signup-content {
  background-color: #fff;
  width: 30%;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.signup-content input {
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
}
.signup-content h1 {
  color: #333;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}
.signup-box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accept-policy {
  display: flex;
  justify-content: start;
  margin: 10 auto;
}
.accept-policy label {
  font-size: 12px;
  color: #333;
  font-weight: 400;
  letter-spacing: 1px;

  margin-left: 5px;
  margin-right: 5px;
}
.signup-box label {
  font-size: 14px;
  color: #333;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 3px;
}
.submit-signup {
  background-color: #ffcc00;
  border: none;
  padding: 15px;
  cursor: pointer;
  color: #000000;
  font-weight: 600;
  width: 100%;
  border-radius: 25px;
}
.submit-signup:hover {
  background-color: #6b8334;
  transition: 0.3s;
  color: #ffffff;
}
.name {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.name input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
}
.name label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

/* switch button sign up or sign in  */

/* switch button sign up or sign in  end */

.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 5 auto;
  padding: 10px;
  border: 1px solid gray;
  cursor: pointer;
  background-color: #e5e5e5;
  color: #000000;
}
.signup-btn:hover {
  background-color: #bdbdbd;
  color: #302e2e;
  transition: 0.3s;
}
.new-account {
  display: block;
  margin: 5px;
}
.new-account a {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}
.new-account p {
  font-size: 14px;
  color: #333;
  font-weight: 400;
}

.bx-arrow-back {
  color: #005c9e;
  font-weight: 400;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}
.bx-arrow-back:hover {
  color: #15b5f4;
  transition: 0.3s;
}
